<%= form_for(@generate) do |f| %>
  <% if @generate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generate.errors.count, "error") %> prohibited this generate from being saved:</h2>

      <ul>
      <% @generate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
